html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
  }

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

a {
  background-color: transparent;
}

align-center

blogPost

blogPost-list

new-blogPost-form

btn

btn-primary

btn-sm

btn-danger

no-button

container

container-fluid

col-auto

col-md-4

col-md-5

col-md-6

col-md-8

display-flex

flex-column

form

form-group

form-input

justify-space-around

justify-space-between

login-form

mb-2

mt-4

mt-5

mb-4

nav-list

p-2

row

signup-form